@import ../../styles/helpers

.label
  margin-bottom: 8px
  +body1-m
  +dark
  color: $n4

.selector__container
  &__control
    min-height: 48px !important
    margin-bottom: 24px
    border: none !important
    border-radius: 12px !important
    box-shadow: inset 0 0 0 2px #EFEFEF !important

    &_focused
      min-height: 48px !important
      margin-bottom: 24px
      border: none !important
      box-shadow: inset 0 0 0 2px #9A9FA5 !important
      border-radius: 12px !important

    &_values
      padding-right: 48px !important