@import ../../../../../../styles/helpers

.name
  +title1-s
  color: $n7
  margin-bottom: 24px
.input
  margin-bottom: 24px
  &>div
    +body1-m
    color: $n4
    font-weight: 500
    margin-bottom: 8px
